.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 0px;
}

.top_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.date {
  font-size: 12px;
  color: gray;
}

.content {
  background-color: black;
  padding: 15px 0;
  border-radius: 5px;
}

.bottom_container {
  display: flex;
  gap: 10px;
  color: gray;
  font-size: 14px;
}

.bottom_container div {
  cursor: pointer;
}

.delete_btn {
  cursor: pointer;
  border-bottom: 1px solid gray;
}
